<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>sign_in.jsp</welcome-file>
    <welcome-file>dashboard.jsp</welcome-file>
    <welcome-file>sign_out.jsp</welcome-file>
    <welcome-file>sign_up.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginCheck</servlet-name>
    <servlet-class>user.info.LoginCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCheck</servlet-name>
    <url-pattern>/login_check</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JoinCheck</servlet-name>
    <servlet-class>user.info.JoinCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JoinCheck</servlet-name>
    <url-pattern>/join_check</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutCheck</servlet-name>
    <servlet-class>user.info.LogoutCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutCheck</servlet-name>
    <url-pattern>/logout_check</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FileDownload</servlet-name>
    <servlet-class>file.load.FileDownload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileDownload</servlet-name>
    <url-pattern>/file_download</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MakeUserDomain</servlet-name>
    <servlet-class>user.domain.MakeUserDomain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MakeUserDomain</servlet-name>
    <url-pattern>/user_domain</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>SeeUserDomain</servlet-name>
    <servlet-class>user.session.SeeUserDomain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeeUserDomain</servlet-name>
    <url-pattern>/see_user_domain</url-pattern>
  </servlet-mapping>
</web-app>